:root {
  --primary: #0D6EFD;
  --background: #081C15;
  --secondary: #40916C;
  --border: #74c69d;
  --focus: #95d5b2;
  --font-family: 'Roboto', sans-serif;
  --grey: #adb5bd;
  --darkGrey: #495057;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 2px 15px rgba(17, 17, 17, 0.11);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(17, 17, 17, 0.336);
}

body {
  overflow: auto !important;
}

main {
  max-height: none !important;
}


nav {
  z-index: 998 !important;
}

.sess_admin {
  font-size: 23px !important;
}

.main {
  display: flex;
  justify-content: center;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.sidebar {
  width: 200px !important;
  height: 100% !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
}



.main_galeria {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.imagePagination{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.paginationLink{
  text-decoration: none;
  border: 1px solid rgba(119, 136, 153, 0.659);
  color: rgba(119, 136, 153, 0.659);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationLink:hover{
  border-color: #0D6EFD;
}
.activePage{
  border-color: #0D6EFD;
  color: #0D6EFD;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar{
  top: 0;
  position: sticky !important;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-bottom: 50px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-check {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ditlindja {
  width: 300px !important;
  height: 50px !important;
}

.data {
  width: 300px !important;
  height: 50px !important;
}



.table_doc {
  width: 99%;
}

.table_doctors {
  width: 75% !important;
}

.table_doc thead tr th {
  font-size: 18px;
}

.table_doc tbody tr td {
  font-size: 18px;
}

.form-select {
  height: 50px;
}

.table_wrapper {
  margin-left: 200px;
  display: flex;
  justify-content: center;
}

.galeria_wrapper {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.table_wrapper table tbody tr th {
  border: 1px solid rgba(128, 128, 128, 0.521);
}

.table thead tr,
.table tbody td {
  height: 30px !important;
}

.table {
  width: 99% !important;
}


.table thead tr th {
  border: 1px solid rgba(128, 128, 128, 0.521);
}

.table tbody tr td img {
  width: 150px !important;
  height: 100px !important;
  object-fit: contain;
}

.table tbody tr td {
  border: 1px solid rgba(128, 128, 128, 0.521);
  vertical-align: middle;
}

.popWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  opacity: .7;
  z-index: 999;
}




.wrapperWindow {
  display: block;
}

.popAnulo {
  width: 500px;
  height: 650px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1;
  border-radius: 5px;
}

.text {
  width: 300px !important;
  resize: none;
  font-size: 14px;
}

.pac_h5 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 3px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);

}

.popUp {
  width: 400px;
  padding-bottom: 15px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1;
  border-radius: 5px;
}

.updateRes {
  width: 300px !important;
}

.popWindow {
  display: block;
  z-index: 999;
}

.close {
  float: right;
  margin: 5px 10px 0 0;
  border: none;
  background: none;
}

.close:hover {
  opacity: .5;
}

.close:active {
  opacity: .7;
}

.rezervoClose {
  font-size: 24px;
}

.anulo {
  align-self: last baseline;
  margin-bottom: 17px;
}

.emri_pac p {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.emri_pac p:first-child {
  margin-top: 5px;
}

.emri_pac hr {
  width: 95%;
  text-align: center;
  margin: 0 0 0 10px;
  height: 2px;
  padding: 0;
}

.pac_det {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.pac_det h4 {
  margin: 10px 0 0 10px;
  text-transform: capitalize;
  font-weight: 100;
}

.det_pac_h4 {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.submit_rez {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 15px;
}

.submit_anu {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  margin-top: 15px;
}



.time {
  width: 140px !important;
  height: 50px;
  font-size: 18px !important;
}

.time1 {
  margin-left: 10px !important;
}

.terminet {
  width: 80px !important;
  height: 50px;
  font-size: 18px !important;
}


.appointment_wrapper {
  margin-top: 2%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.appointment {
  display: flex;
  flex-direction: column;
  border: 2px solid currentColor;
  color: var(--primary);
  width: 30%;
  line-height: 170%;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.appointment_h1 {
  color: var(--primary);
  border-bottom: 2px solid currentColor;
  padding: 0 20px;
  font-size: 24px;
  width: fit-content;
}

.app_h1 {
  margin-left: 55px;
}

.h1_flex {
  display: flex;
  justify-content: center;
}

.appointment div label {
  font-size: 20px;
  color: var(--primary);
}

.appointment_p {
  font-size: 20px;
  margin-left: 5px;
}

.appointment div {
  display: flex;
}

.fa-arrow-left {
  all: inherit;
}

.goBack {
  font-size: 28px;
  margin-top: 2px;
  text-decoration: none;
  font-weight: 100;
  color: var(--primary);
}

.goBack:hover {
  opacity: .5;
}

.goBack:active {
  opacity: .8;
}

.reason_label {
  font-size: 20px;
  color: var(--primary);
}



#doctors_art>hr {
  width: 50%;
  margin-bottom: 40px;
  border-radius: 50%;
}

#doctors_art {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}

#doctors_art>h1 {
  font-size: 35px;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}

#doctors {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#doctor1>img {
  width: 250px !important;
  height: 300px !important;
  min-width: 250px !important;
  min-height: 250px !important;
  object-fit: contain;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.swiper-slide {
  width: 500px !important;
  max-width: 500px !important;

  overflow: hidden;
  display: flex;
  margin: 20px auto;
}



#doctor1 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 310px !important;
  border-radius: 3px;
}

#doctor1>h1 {
  font-size: 26px;
  text-align: center;
  font-weight: 400;
}

#doctor1>h4 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

#doctor1>p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  height: 30px;
  padding: 5px;
  text-align: center;
  background-color: white;
}





.swiper-wrapper {
  margin-left: -250px !important;
}

#mapouter {
  /* position: relative;
  text-align: right; */
  height: 500px;
  width: 700px;
  /* margin-left: 24.5%; */
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 700px;
}

#gallery {
  margin-left: 2%;
}

#gallery>a>img {
  width: 400px;
  height: 300px;
  margin-left: 25px;
  margin-bottom: 25px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, .2);
}

#gallery>a>img:hover {
  transform: scale(1.02);
  transition: .3s ease;
  opacity: .7;
}

#gallery>a>img:active {
  opacity: .8;
  transform: scale(1);
  transition: none;
}

#biggerImage {
  position: fixed;
  width: 70% !important;
  height: 80% !important;
  z-index: 999999;
  display: none;
}

#biggerImage>img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.zoomed {
  display: block !important;
}

.img_wraper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.gallery_img {
  width: 75% !important;
  height: 30% !important;
  object-fit: cover;
  margin: 15px;
}

.profile {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.profile img {
  width: 600px;
  height: 400px;
  object-fit: contain;
  margin-right: 70px;
}

.profile h1 {
  margin-bottom: 50px;
}

.backIndex {
  height: fit-content;
  width: fit-content;
}

.verificationError {
  background-color: red;
  opacity: .6;
  padding: 4px;
}

.kerkesa {
  width: 170px;
}

.img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: .7;
  filter: brightness(20%);
}

.blog_des {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
}

.blog_container {
  height: 110%;
  position: relative;
}

.popMsg {
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: fit-content;
  background-color: white;
  display: none;
  border-radius: 5px;
}

.njoftim {
  display: block;
  z-index: 999;
}



.first {
  display: flex;
}



.second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 70px;
  width: 80%;
}

.doc_wrapper {
  padding: 15px;
}

.popDoc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  opacity: .7;
  z-index: 999;
}

.popDoc_info {
  width: 320px;
  position: fixed;
  background-color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1;
  border-radius: 10px;
  z-index: 9999;
}

.doc_pop_img img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}


.doc_pop_des {
  padding-top: 30px;
  height: 58%;
  display: flex;
  flex-direction: column;
}

.doc_pop_des>p {
  height: 69%;
}

.doc_pop_des div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.doc_pop_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popWin {
  display: block !important;
}

.poptest {
  display: block;
}


.burger {
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  font-size: 20px;
  color: white;
  padding: 3px 9px;
  margin-right: 300px;
  display: none;
}

.burger:active {
  opacity: .5;
}






.sideBlock {
  position: absolute;
  top: 10px;
  left: 5px;
}

.close_side {
  position: absolute;
  left: 165px !important;
  top: 0 !important;
  width: 35px;
  height: 35px;
  font-size: 22px;
  border: none;
  color: white;
  background-color: rgb(33, 37, 41);
  display: none;
}

.map-generator {
  max-width: 100%;
  max-height: 100%;
  background: none;
}

.mapWrapper {
  max-width: 100%;
  list-style: none;
  transition: none;
  overflow: hidden;
  width: 700px;
  height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.mapFrame {
  height: 100%;
  width: 100%;
  border: 0;
}

#my-map-canvas {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.editForm {
  width: 100%;
}

.back_wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
}
.popDocAdd {
  background-color: #f5f5f5;
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 640px;
  padding: 5px;
  display: none;
}
.addDoc{
  display: grid;
  place-content: center;
  width: 40px;
  height: 38px;
  font-size: 30px !important;
  border-radius: 50% !important;
  color: white;
}

.closePopAdd{
  border: none;
  background-color: none;
  width: 40px;
  height: 40px;
}
.closePopAdd > .fa-circle-xmark{
  font-size: 26px;
}
.closePopAdd > .fa-circle-xmark:hover{
  opacity: .5;
}
.editForm {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.editForm>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.editForm input:not(input[type=radio]),
.editForm select {
  width: 300px;
}

.editForm select {
  height: 38px;
}
.addForm select{
  height: 58px !important;
}

.editForm textarea {
  width: 600px;
}

.backDoc {
  color: #212259;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
}

.backDoc:hover {
  color: #212259;
  opacity: .7;
}

.mainOrari {
  display: flex;
  justify-content: center;
}

.kerkesa_wrapper {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.kerkesa {
  display: flex;
  flex-direction: column;
  width: 700px;
  line-height: 170%;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.firstPartKerkesa,
.secondPartKerkesa {
  width: 330px;
  display: flex;
  flex-direction: column;
}

.firsecKerkesa {
  display: flex;
  gap: 15px;
}

.kerkesaAction {
  display: flex;
  justify-content: space-between;
}

.kerkesaAction a {
  width: 320px;
}

.fa-arrow-left {
  all: inherit;
}

.goBack {
  font-size: 28px;
  margin-top: 2px;
  text-decoration: none;
  font-weight: 100;
  color: var(--primary);
}

.goBack:hover {
  opacity: .5;
}

.goBack:active {
  opacity: .8;
}

.veri_code::-webkit-outer-spin-button,
.veri_code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.veri_code:disabled {
  opacity: .5;
}


.mainVeriCode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.veri_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}

.veri_form h1 {
  color: #212529;
  font-weight: 400;
}

.veri_form p {
  color: #212529;
  font-size: 16px;
}

.veri_form a {
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.countdown {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #212529;
}

.countdown:hover {
  color: #212529;
}

.restart {
  opacity: .5;
  text-decoration: underline;
}

.timer {
  color: #212529;
  opacity: 1;
}

.verifyBtnWrapper {
  width: 320px;
}

.veri_form input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background-color: #fff;
  color: #212529;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.veri_form input:focus {
  transition: .1s ease-in;
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, .25);
}

.verify:disabled {
  opacity: .5;
}

.docInfoWrapper {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}


.doc_info {
  font-size: 40px;
  text-align: center;
  width: 250px;
  height: 300px;
  background-color: white;
  transition: .2s ease-in;
  display: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.doc_info:hover .doc_des{
  background-color: #17a2b8;
  color: white;
}

.doc_des{
  width: 100%;
  height: 80px;
  background-color: #F5FBFF;
  padding: 5px;
  transition: .2s ease-in;

}
.doc_info>img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.doc_info>div>h1 {
  font-size: 24px;
}

.doc_info>div>p {
  font-size: 18px;
}

.docActions{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 72px;

}

.leftArrow{
  width: 15px;
  height: 15px;
  border-top: 1.8px solid lightslategray;
  border-left: 1.8px solid lightslategray;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg);
  margin-left: 5px;
}

.rightArrow{
  width: 15px;
  height: 15px;
  border-top: 1.8px solid lightslategray;
  border-left: 1.8px solid lightslategray;
  border-bottom: none;
  border-right: none;
  transform: rotate(135deg);
  margin-right: 5px;
}
.backDoc{
  all: unset;
}
.nextBtn{
  margin-left: 5px;
}
.prevDoc,
.nextBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  border: 1px solid rgba(119, 136, 153, 0.659);
  border-radius: 7px;
  background-color: white;
  width: 40px;
  height: 40px;
}

.prevDoc:hover,
.nextBtn:hover{
  transition: .2s ease;
  background-color: #17a2b8;
}
.prevDoc:hover .leftArrow,
.nextBtn:hover .rightArrow{
  border-top: 1.8px solid white;
  border-left: 1.8px solid white;
}

.loader {
  border: 12px solid rgb(33,37,41);
  border-radius: 50%;
  border-top: 12px solid #0d6efd;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  margin-left: calc(50% - 50px);
  margin-top: 35px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}


.finishApp{
  display: flex;
  justify-content: center;
}
.finishSection{
  width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.perscriptionContainer{
  display: flex;
  justify-content: center;
}

.prescriptionWrapper{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 21.2cm;
  height: 29.6cm;
  background-color: rgb(228,240,240);
}

.prescriptionHeader{
  display: flex;
  justify-content: space-between;
}

.prescriptionHeader > div > h1{
  text-transform: uppercase;
}

.prescriptionBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prescriptionBody > div > img{
  width: 60px;
  height: 60px;
}

.prescriptionDoc{
  text-align: center;
  text-transform: uppercase;
  
}

.prescriptionDoc > h1{
  color: #309896;
}

.appointmentInfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.app_data{
  background-color: rgb(185,211,215);
  padding: 5px;
}

.appointmentInfo > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.desPrescription{
  margin-left: 10px !important;
  height: 470px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  background: url("../photos/caduceus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  letter-spacing: 2px;
}

.prescriptionFooter{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 22px;
}

.prescriptionFooter > p{
  width: fit-content;
  margin-top: 0;
}

.doctorsName{
  border-bottom: 1px solid rgba(0, 0, 0, 0.512);
  width: fit-content;
  padding: 5px 20px;

}

.prescriptionFooter > img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -70px;
  right: -5px;
  user-select: none;
  opacity: .6;
}

.labelDet{
  width: 90px !important;
}